@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://tailwindcss.com/docs/customizing-colors#using-css-variable */
@layer base {
  .dark:root {
    --color-primary: #3294F8;
    --color-base-title: #E7EDF4;
    --color-base-subtitle: #C4D4E3;
    --color-base-text: #AFC2D4;
    --color-base-span: #7B96B2;
    --color-base-label: #3A536B;
    --color-base-border: #1C2F41;
    --color-base-post: #112131;
    --color-base-profile: #0B1B2B;
    --color-base-background: #071422;
    --color-base-input: #040F1A;
  }

  :root {
    --color-primary: theme(colors.orange.600);
    --color-base-title: #E7EDF4;
    --color-base-subtitle: #C4D4E3;
    --color-base-text: #AFC2D4;
    --color-base-span: #7B96B2;
    --color-base-label: #3A536B;
    --color-base-border: #1C2F41;
    --color-base-post: #112131;
    --color-base-profile: #0B1B2B;
    --color-base-background: #071422;
    --color-base-input: #040F1A;
  }
}

* {
  outline: none;
}

::selection {
  color: theme(colors.base-title);
  background-color: theme(colors.primary);
}

:focus {
  border-radius: theme(borderRadius.sm);
  box-shadow: 0 0 0 1px theme(colors.primary);
}

::-webkit-scrollbar {
    width: theme(borderWidth.2);
    height: theme(borderWidth.2);
    background-color: theme(colors.base-background);
  }
  ::-webkit-scrollbar-thumb {
		border-radius: theme(borderRadius.2xl);
     background-color: theme(colors.base-label);
  }

body {
  font-size: theme(fontSize.base);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  line-height: 160%;
  -webkit-font-smoothing: antialiased;
  background-color: theme(colors.base-background);
}
